<div class="d-flex justify-content-around" style= "margin-top: 20px">
<div style= "width: 200px"> <h3>Items</h3></div>
  <h3>Start Date</h3>
  <h3>End Date</h3>
</div>
<ul class="list-group list-group-flush">
  <% @bookings.each do |booking|%>
    <div>
      <li class="list-group-item" style= "margin-bottom: 15px ">
        <div class="d-flex justify-content-between" style= "height: 3rem">
          <div class= "text" style = "margin-top: 10px">
            <%= booking.item.name %>
          </div>
          <div class= "text-date-start " style = "margin-top: 10px ">
            <%= booking.start_date.strftime('%d/%m/%Y')%>
          </div>
          <div class = "text-date-end " style = "margin-top: 10px">
            <%= booking.end_date.strftime('%d/%m/%Y')%>
          </div>
        </div>
      </li>
    </div>
  <% end %>
</ul>


<%%# background-size : cover;
# backgroud : center;%>
