<h1>Booking New</h1>


<div class = "container">
  <%= simple_form_for [@user, @item, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit 'Soumettre' %>
  <% end %>
</div>
