.btn-btn-primary {
  border-bottom-right-radius: 20px 20px;
}

.btn-gradient {
  color: black;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-gradient:hover {
  opacity: 0.5;
  border-color: blue;
  color: blue;
}

.btn {
display: flex;
justify-content: space-between;

}
