.card-avatar {
  border-radius: 60px 15px 15px 60px;
  width: 400px;
  overflow: hidden;
  height: 120px;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 190px;

}

.card-avatar img {
  border-radius: 50%;
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-avatar h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-avatar p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-avatar .card-avatar-infos {
  padding-top: 5px;
  padding-left: 25px;
}
