.card-item-category {
  border-radius: 15px;
  width: 400px;
  overflow: hidden;
  height: 120px;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 15px;

}

.card-item-category img {
  border-radius: 15px;
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-item-category h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-item-category p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-item-category .card-item-category-infos {
  padding-top: 25px;
  padding-left: 25px;
}
