.banner_img {
  background-image: url(https://sm.ign.com/t/ign_fr/screenshot/default/ok_hm8t.2560.jpg);
  background-size: cover;
  width: auto;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  p {
    color: white;
  }
}

#sample-category {
  display: flex;
  justify-content: space-between;
}

.cards-categories {
  display: flex;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
}

.card-body {
  background-color: #B1D0E0;

  p {
    color: white;
  }
  a {
    text-decoration: none;
  }
}

.mid-banner {
  background-image: url("https://cdn1-www.superherohype.com/assets/uploads/2014/06/marvel-heroes-banner.jpg");
  background-size: cover;
  width: auto;
  height: 350px;
  position: relative;
  h1 {
    font-size: 28px;
    text-align: right;
    position: absolute;
    bottom: 10px;
    color: white;
  }
}

.title-items-list {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 24px;
  color: white;
}

.item-img {
  width: 115px;
  border-radius: 7px;
  margin-top: 4px;
}

.items-list {
  display: flex;
  flex-direction: row;
  height: 600px;
}

.items-homepage {
  background-color: #406882;
  border-radius: 10px;
  display: flex;
  flex-direction: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  h3 {
    font-size: 26px;
    margin-top: 6px;
  }
  p {
    font-size: 14px;
  }
}

.btn1 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
