<div class="banner_img">
  <h1> Besoin d'un objet incroyable?</h1>
  <a href="#" class="btn1">Devenez unique</a>
</div>
<div class="cards-categories">
  <div class="card" id="sample-category" style="width: 18rem;">
  <a href=""><img class="card-img-top" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
    <div class="card-body">
      <a href=""><p class="card-text">Mangas</p></a>
    </div>
  </div>

  <div class="card" id="sample-category" style="width: 18rem;">
  <a href=""><img class="card-img-top" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
    <div class="card-body">
      <a href=""><p class="card-text">Mangas</p></a>
    </div>
  </div>

  <div class="card" id="sample-category" style="width: 18rem;">
  <a href=""><img class="card-img-top" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
    <div class="card-body">
      <a href=""><p class="card-text">Mangas</p></a>
    </div>
  </div>

  <div class="card" id="sample-category" style="width: 18rem;">
  <a href=""><img class="card-img-top" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
    <div class="card-body">
      <a href=""><p class="card-text">Mangas</p></a>
    </div>
  </div>

  <div class="card" id="sample-category" style="width: 18rem;">
  <a href=""><img class="card-img-top" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
    <div class="card-body">
      <a href=""><p class="card-text">Mangas</p></a>
    </div>
  </div>
</div>
<div class="mid-banner">
  <h1>incredible experiences to live here and nowhere else</h1>
</div>
<h2 class="title-items-list"> Best items for crazys dreams </h2>
  <div class ="items-list">
    <div class="items-homepage">
      <a href="#"><img class="item-img" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
      <h3>Items name</h3>
      <p>description de litem lorem ipsum patin coufin</p>
      <p class="item-price">99$</p>
      <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 8px;">Reserve</button>
    </div>
    <div class="items-homepage">
      <a href="#"><img class="item-img" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
      <h3>Items name</h3>
      <p>description de litem lorem ipsum patin coufin</p>
      <p class="item-price">99$</p>
      <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 8px;">Reserve</button>
    </div>
    <div class="items-homepage">
      <a href="#"><img class="item-img" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
      <h3>Items name</h3>
      <p>description de litem lorem ipsum patin coufin</p>
      <p class="item-price">99$</p>
      <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 8px;">Reserve</button>
    </div>
    <div class="items-homepage">
      <a href="#"><img class="item-img" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
      <h3>Items name</h3>
      <p>description de litem lorem ipsum patin coufin</p>
      <p class="item-price">99$</p>
      <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 8px;">Reserve</button>
    </div>
    <div class="items-homepage">
      <a href="#"><img class="item-img" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
      <h3>Items name</h3>
      <p>description de litem lorem ipsum patin coufin</p>
      <p class="item-price">99$</p>
      <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 8px;">Reserve</button>
    </div>
    <div class="items-homepage">
      <a href="#"><img class="item-img" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
      <h3>Items name</h3>
      <p>description de litem lorem ipsum patin coufin</p>
      <p class="item-price">99$</p>
      <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 8px;">Reserve</button>
    </div>
        <div class="items-homepage">
      <a href="#"><img class="item-img" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
      <h3>Items name</h3>
      <p>description de litem lorem ipsum patin coufin</p>
      <p class="item-price">99$</p>
      <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 8px;">Reserve</button>
    </div>
    <div class="items-homepage">
      <a href="#"><img class="item-img" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
      <h3>Items name</h3>
      <p>description de litem lorem ipsum patin coufin</p>
      <p class="item-price">99$</p>
      <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 8px;">Reserve</button>
    </div>
    <div class="items-homepage">
      <a href="#"><img class="item-img" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
      <h3>Items name</h3>
      <p>description de litem lorem ipsum patin coufin</p>
      <p class="item-price">99$</p>
      <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 8px;">Reserve</button>
    </div>
    <div class="items-homepage">
      <a href="#"><img class="item-img" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
      <h3>Items name</h3>
      <p>description de litem lorem ipsum patin coufin</p>
      <p class="item-price">99$</p>
      <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 8px;">Reserve</button>
    </div>
    <div class="items-homepage">
      <a href="#"><img class="item-img" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
      <h3>Items name</h3>
      <p>description de litem lorem ipsum patin coufin</p>
      <p class="item-price">99$</p>
      <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 8px;">Reserve</button>
    </div>
    <div class="items-homepage">
      <a href="#"><img class="item-img" src="https://i.pinimg.com/originals/44/78/f6/4478f6b3ac497b92d464cf3004057722.jpg" alt="Les sept dragon ball"></a>
      <h3>Items name</h3>
      <p>description de litem lorem ipsum patin coufin</p>
      <p class="item-price">99$</p>
      <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 8px;">Reserve</button>
    </div>
</div>
