@import "modél-card-product/card-avatar";
@import "modél-card-product/card-item";
@import "modél-card-product/card-btn";
@import "modél-card-product/star-rating";
@import "modél-card-product/card-item-category";

.container-card {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;

}
