.navbar-lewagon {
  justify-content: space-between;
  background: #1A374D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white!important;
}

#nav-search-bar {
  border-radius: 25px!important;
  margin: 0;
  font-family: initial!important;
  font-size: larger!important;
  line-height: initial!important;
}
