.newbooking {
    background-color: white;
    position: relative;
    height: 600px;
    margin: 8px auto;
    width: 90%;
}

.formbooking {
  position: absolute;
  box-sizing: border-box;
  right: 30px;
  bottom: 40%;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 35%;
  height: 38%;
  padding: 15px;
}



.containerctv {
  position: absolute;
  left: 10%;
}

input.btn-back2list {
  position: absolute;
  left: 39%;
  border-radius: 10px;

  &:hover {
    transition: 1s;
    background-color: rgba(250,163,46,0.5);
  }
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}
